/*Categories*/

.categories {
    margin: 0;
    padding: 0;
    width: 100%;
/*    background-color: #f0efee;*/
    background-color: red;
/*    background-image: url("../img/Pinc_nike.png");*/
/*    background-image: url("../img/banner_all.png");*/
/*    background-repeat: no-repeat;*/
    height: 540px;

}

#cecece
    